$Breakpoints: (
        xs: 480px,
        sm: 768px,
        md: 1024px,
        lg: 1280px
);

@mixin media-breakpoint-up($breakpoint) {
  @if map-has-key($Breakpoints, $breakpoint) {
    $breakpoint-value: map-get($Breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if map-has-key($Breakpoints, $breakpoint) {
    $breakpoint-value: map-get($Breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}