$theme1-color: #89FABC;
$theme2-color: #2BAE66;
$theme3-color: #1F7A48;
$theme4-color: #023535;

$white: white;

.RQ-theme1 {
  color: $theme1-color;
}

.RQ-theme2 {
  color: $theme2-color;
}

.RQ-theme3 {
  color: $theme3-color;
}

.RQ-theme4 {
  color: $theme4-color
};

.RQ-white {
  color: $white;
}