$theme1-color: #89FABC;
$theme2-color: #2BAE66;
$theme3-color: #1F7A48;
$theme3-color-hover: #216540;
$theme4-color: #023535;

$cyan: #2ac0f1;
$cyan-pf: #64ffda;
$orange: #FFA401;
$white-green: #E6F3EF;
$green: #00875a;
$gray: #787878;
$white-red: #fce9eb;
$red: #e61f37;
$gray-shadow: #8fabc34d;
$white: white;

$theme-pf: $cyan-pf;
$theme-hover-pf: #152b4c;
$theme-name-pf: #ccd6f6;
$subTheme-pf: #41629b;
$theme-subTitle-pf: #8892b0;
$theme-description-pf: #8892b0;
$theme-selection-pf: #112240;
$theme-side-bar-pf: #112240;
$theme-project-card : #0e2342;

$white: white;

.RQ-theme1 {
  color: $theme1-color;
}

.RQ-theme2 {
  color: $theme2-color;
}

.RQ-theme3 {
  color: $theme3-color;
}

.RQ-theme4 {
  color: $theme4-color
};

.RQ-white {
  color: $white;
}

.RQ-hover-text-theme3 {
  &:hover {
    color: $theme3-color;
    transition: 0.8s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}

.RQ-hover-text-gray {
  &:hover {
    color: gray;
    transition: 0.8s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}

.RQ-hover-text-white {
  &:hover {
    color: white;
    transition: 0.8s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}

.RQ-hover-backgroud-button {
  &:hover {
    background-color: $theme3-color-hover;
    transition: 0.8s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}

.RQ-background-theme3 {
  background-color: $theme3-color;
}